<h1>This is the Home Page</h1>

<% if user_signed_in?%>
    <%= link_to "sell your items", new_item_path%>
    <%= link_to "sign out", destroy_user_session_path, method: :delete%>
<% else %>
    <p><%= link_to "sign in", new_user_session_path%><br></p>
    <%= link_to "sign up", new_user_registration_path%>
<% end %>
