<h3>You have chosen to see this item</h2>

<h2><%= @item.name%></h2>
<h2><%= @item.description%></h2>
<%=image_tag @item.picture if @item.picture.attached?%>
<%=link_to "back to items", items_path, class:'link'%>




